<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments :: head"/>

<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <h1 class="mb-3" th:text="#{note.new}">Add a note</h1>
            <form th:action="@{/history/add/{patientId}(patientId=${note.patientId})}" th:object="${note}" method="post" class="px-3 py-3 border-cyan">

                <th:block th:replace="fragments :: patientHistory"/>

                <div class="d-flex justify-content-center">
                    <a th:href="@{|/history/${note.patientId}|}" class="btn btn-secondary mr-10" th:text="#{cancel}">Cancel</a>
                    <button class="btn btn-primary" type="submit">
                        <span th:text="#{save}">save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>