<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments :: head" />

<body>
<div class="container">
    <h1 th:text="#{note}">Practitioner's notes / recommendations</h1>
    <div th:if="${error != null}" class="card bg-light my-3">
        <div class="card-body">
            <div th:utext="${error}" class="card-text text-danger"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <a href="/patients" class="btn btn-secondary btn-sm">Patients information</a>
        <a th:href="@{|/history/add/${patientId}|}" class="btn btn-primary btn-sm" th:text="#{note.new}">Add a note</a>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <small class="text-bold">Patient Id</small>
            <p th:text="${patientId}"></p>
        </div>
        <div class="col">
            <small class="text-bold" th:text="#{fullName}"></small>
            <p th:text="${fullName}"></p>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th th:text="#{note}" class="w-75"></th>
                <th>Action</th>
            </tr>
            </thead>
            <th:block th:if="${!#lists.isEmpty(notes)}">
                <tbody>
                <tr th:each="note : ${notes}">
                    <td th:utext="${note.note}"></td>
                    <td class="text-center">
                        <a th:href="@{|/history/update/${note.patientId}/${note.id}|}">Edit</a>
<!--                        <span>|</span>-->
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>